body {
    font-family: "Helvetica", sans-serif;
    background-color: #e87863;
}
html {
    background:none;
}
.windows{
    width: 780px;
    margin: 5px auto;
}

.windows .float{
    margin: 5px;
    float:left;
    position: relative;
}

span.text-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: table;
    height: 250px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 250px;
}
 
span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding:28px;
    font-size: 25px;
}


span.text-wc {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: default;
    display:table;
    height: 40px;
    left: 0px;
    opacity: 0;
    position: relative;
    padding-top: 13px;
    top: -2px;
    width: 250px;
}
 
span.text-wc span {
    text-align: center;
    vertical-align: middle;
    padding:10px;
    font-size: 25px;
}



.windows .float:hover span.text-content {
    opacity: 1;
}
.windows .float:hover span.text-wc {
    opacity: 1;
}

div > a img {
    width: 250px;
    height: 420px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .windows .float span.text-content {
    opacity: 1;
}
    .windows .float span.text-wc {
    opacity: 1;
}
}

.window_title h3 {
    font-weight: 300; 
    font-size: 20px; 
    text-align: left;
}